services:
  - type: web
    name: emergency-chatbot-backend
    env: python
    buildCommand: |
      pip install --no-cache-dir torch==2.1.0
      pip install --no-cache-dir -r backend/requirements.txt
    startCommand: cd backend && uvicorn server:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: A2I2_BASE_DIR
        value: /opt/render/project/src 